---
import Layout from "../layouts/Layout.astro";
import "../styles.css";
---
<Layout title="Privacy Policy | Sanskar Technolab", keyword="erp implementation partner, erpnext implementation, erp implementation companies, ERPNext software development company, Hire ERPNext developers, ERPnext development services, Erpnext solution company, ServiceNow company, ServiceNow implementation partner, Servicenow implementation services, Servicenow implementation solutions", description="Check out the comprehensive privacy policy of Sanskar Technolab to check how we collect, secure and manage customer data.", canonical_href="https://sanskartechnolab.com/cookie-policy">
<section class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 lg:mt-20 md:mt-10 mt-5 lg:mb-40 md:mb-32 mb-24">
    <!-- <h1 class="lg:text-4xl md:text-3xl text-2xl mb-5">Cookie Policy for Sanskar</h1>

    <p>This is the Cookie Policy for Sanskar, accessible from sanskartechnolab.com</p>

    <p><strong>What Are Cookies</strong></p>

    <p>As is common practice with almost all professional websites this site uses cookies, which are tiny files that are downloaded to your computer, to improve your experience. This page describes what information they gather, how we use it and why we sometimes need to store these cookies. We will also share how you can prevent these cookies from being stored however this may downgrade or 'break' certain elements of the sites functionality.</p>

    <p><strong>How We Use Cookies</strong></p>

    <p>We use cookies for a variety of reasons detailed below. Unfortunately in most cases there are no industry standard options for disabling cookies without completely disabling the functionality and features they add to this site. It is recommended that you leave on all cookies if you are not sure whether you need them or not in case they are used to provide a service that you use.</p>

    <p><strong>Disabling Cookies</strong></p>

    <p>You can prevent the setting of cookies by adjusting the settings on your browser (see your browser Help for how to do this). Be aware that disabling cookies will affect the functionality of this and many other websites that you visit. Disabling cookies will usually result in also disabling certain functionality and features of the this site. Therefore it is recommended that you do not disable cookies. This Cookies Policy was created with the help of the <a href="https://www.cookiepolicygenerator.com/cookie-policy-generator/">Cookies Policy Generator</a>.</p>
    <p><strong>The Cookies We Set</strong></p>

    <ul>






    <li>
        <p>Forms related cookies</p>
        <p>When you submit data to through a form such as those found on contact pages or comment forms cookies may be set to remember your user details for future correspondence.</p>
    </li>


    </ul>

    <p><strong>Third Party Cookies</strong></p>

    <p>In some special cases we also use cookies provided by trusted third parties. The following section details which third party cookies you might encounter through this site.</p>

    <ul>

    <li>
        <p>This site uses Google Analytics which is one of the most widespread and trusted analytics solution on the web for helping us to understand how you use the site and ways that we can improve your experience. These cookies may track things such as how long you spend on the site and the pages that you visit so we can continue to produce engaging content.</p>
        <p>For more information on Google Analytics cookies, see the official Google Analytics page.</p>
    </li>









    </ul>

    <p><strong>More Information</strong></p>

    <p>Hopefully that has clarified things for you and as was previously mentioned if there is something that you aren't sure whether you need or not it's usually safer to leave cookies enabled in case it does interact with one of the features you use on our site.</p>

    <p>For more general information on cookies, please read <a href="https://www.cookiepolicygenerator.com/sample-cookies-policy/">the Cookies Policy article</a>.</p>

    <p>However if you are still looking for more information then you can contact us through one of our preferred contact methods:</p>

    <ul>
    <li>Email: <a href="mailto:info@sanskartechnolab.com" class="text-[#3E96F4]">info@sanskartechnolab.com</a></li>
    <li>By visiting this link: <a href="/contact-us" class="text-[#3E96F4]">Contact Us</a></li>
    </ul> -->

    <h1 class="text-[#3E96F4] text-2xl font-bold mb-4">Privacy Policy for Sanskar Technolab</h1>

    <p class="mb-4">Sanskar Technolab' Privacy Policy is dedicated to protecting the privacy of our users (you, your). When you use our website and services, we may gather, use, and share Information about you as described in this Privacy Policy.</p>

    <p class="mb-4">You consent to the gathering, utilizing, and disseminating your Information as outlined in this Privacy Policy by using the Service. If you disagree with our rules and procedures, please refrain from using the website.</p>

    <p class="mb-4">This privacy statement will explain how we handle the Personal Information we collect about you when you use or pay for our website, as well as your legal rights regarding privacy. We, "us," and "our" refer to Sanskar Technolab collectively as the controller and guardian of your Private Information in this privacy policy.</p>

    <h2 class="text-[#3E96F4] text-xl font-semibold mt-4">What Information can we collect from you?</h2>

    <ul class="list-disc pl-6 mt-2">
        <li>Identity Data consists of the initial name, maiden name, last name, gender, DOB and other general details.</li>
        <li>Contact information includes a person's name, address, and phone number.</li>
        <li>Financial Information comprises bank account and payment card information.</li>
        <li>Transaction Data consists of Information regarding payments made to and received by you as well as other specifics about the goods and services you have purchased from us.</li>
        <li>Technical Data contains your IP address, the kind and version of your browser, your location and time zone, the types and versions of your browser's plug-ins, the operating system and platform you're using to access our website, as well as other technical Information about the devices you're using.</li>
        <li>Profile Data comprises your interests, tastes, input, and survey replies.</li>
        <li>Usage Data consists of details about how you use our website, products, and services.</li>
        <li>Marketing and communications data contains your preferences for getting marketing from us and third-party partners, as well as your communication preferences.</li>
    </ul>

    <h2 class="text-[#3E96F4] text-xl font-semibold mt-4">How do we use your Information?</h2>

    <p class="mb-4">We will only use your personal information if it is legal for us to do so. We will most frequently utilize your Personal Information in the following situations:</p>

    <ul class="list-disc pl-6 mt-2">
        <li>We must fulfill the terms of the agreement we're about to, or have already, made with you.</li>
        <li>Where we must adhere to a legal requirement.</li>
        <li>To issue bills and ask for payments for the money you owe us.</li>
        <li>To manage, troubleshoot, and improve user experience on our website.</li>
        <li>To assess the effectiveness of a website, including the most popular pages and frequency of visits.</li>
        <li>To register your Information and sign up for our services.</li>
        <li>To verify that you have used our services.</li>
        <li>To get in touch with you and address any questions about our services.</li>
        <li>To assess your request for a job application.</li>
    </ul>

    <h2 class="text-[#3E96F4] text-xl font-semibold mt-4">Security Measures</h2>

    <p class="mb-4">We are committed to ensuring the security and confidentiality of your Information. We implement industry-standard security measures to protect your data from unauthorized access, disclosure, alteration, and destruction. These measures include encryption, regular security audits, access controls, and staff training.</p>

    <h2 class="text-[#3E96F4] text-xl font-semibold mt-4">Cookies</h2>

    <p class="mb-4">We may use cookies and similar technologies to enhance your experience while using our website. Cookies are small pieces of data that are stored on your device when you visit a website. Cookies are used to improve the quality of our service by storing user preferences, improving search results and ad placement, and tracking patterns of use, such as how individuals search.</p>

    <p class="mb-4">In order to provide our customers with a more personalized experience and raise the caliber of our services, we examine this data for trends and statistics. It helps us improve our website's functionality, analyze user behavior, and provide personalized content. You can control and manage cookies through your browser settings.</p>

    <p class="mb-4">You can manage cookie settings through your browser preferences, but please note that disabling essential cookies may impact your ability to use certain site features.</p>

    <h2 class="text-[#3E96F4] text-xl font-semibold mt-4">Links to Third-Party Websites</h2>

    <p class="mb-4">Our website may contain links to third-party websites. Please be aware that each third-party website has its own privacy policy and terms of use. We encourage you to review the privacy policies of these websites before providing any personal information or engaging in any transactions. Sanskar Technolab is not responsible for the content or practices of third-party websites.</p>

    <h2 class="text-[#3E96F4] text-xl font-semibold mt-4">Updates to the Privacy Policy</h2>

    <p class="mb-4">We may update this Privacy Policy from time to time to reflect changes in our practices or for legal and regulatory reasons. Any updates will be posted on our website, and the latest revision date will be indicated at the top of this privacy policy page. It is your responsibility to review the Privacy Policy periodically to stay informed about how we handle your Information.</p>

    <h2 class="text-[#3E96F4] text-xl font-semibold mt-4">Contact Us</h2>

    <p class="mb-4">If you have any questions, concerns, or requests regarding your personal Information or this Privacy Policy, please contact us at <a href="mailto:info@sanskartechnolab.com" class="text-blue-500">info@sanskartechnolab.com</a>.</p>

    <p class="mt-4">Thank you for choosing Sanskar Technolab. We value your trust and are committed to safeguarding your privacy.</p>


</section>

</Layout>