---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Sitemap Sanskar Technolab | ERPNext software development company", keyword="erp implementation, Erpnext solution company, ERPNext development services, Erpnext solution company, ERPNext software development company, Servicenow implementation services", description="SiteMap", canonical_href="https://sanskartechnolab.com/sitemap">
    
    <section class="mx-5 md:max-w-7xl md:mx-auto md:px-24 2xl:px-0 py-[2rem] md:py-[3.125rem] lg:py-[6.25rem]">
        <h1 class="text-2xl font-semibold text-[#3E96F4]">Sitemap</h1>
        
        <ul class="list-disc ml-5 mt-5">
            <li><a href="https://sanskartechnolab.com">Home</a></li>           
            <li><a href="https://sanskartechnolab.com/chatgpt-integration">ChatGPT Integration</a></li>
            <li><a href="https://sanskartechnolab.com/erpnext-implementation-partner">ERRNext Implementation Partner</a></li>
            
            <li>Comapny
                <ul class="list-disc ml-5">
                    <li><a href="https://sanskartechnolab.com/about">About</a></li>
                    <li><a href="https://sanskartechnolab.com/career">Career</a></li>
                    <li><a href="https://sanskartechnolab.com/contact-us">Contact Us</a></li>
                </ul>
            </li>
            
            <li>Industries
                <ul class="list-disc ml-5">
                    <li><a href="https://sanskartechnolab.com/hr-payroll">Human Resources</a></li>
                    <li><a href="https://sanskartechnolab.com/manufacturing">Manufacturing</a></li>
                    <li><a href="https://sanskartechnolab.com/retail">Retail</a></li>
                    <li><a href="https://sanskartechnolab.com/textile">Textile</a></li>
                </ul>
            </li>
            
            <li>Case Study
                <ul class="list-disc ml-5">
                    <li><a href="https://sanskartechnolab.com/construction-equipment-as-a-service">Construction Equipment-as-a-Service</a></li>
                    <li><a href="https://sanskartechnolab.com/sap-to-erpnext-migration">SAP To ERPNext Migration</a></li>
                </ul>
            </li>
            <li><a href="https://sanskartechnolab.com/privacy-policy">Privacy Policy</a></li>        
            <li><a href="https://sanskartechnolab.com/thank-you">Thank You</a></li>
        </ul>
    </section>


</Layout>